.authentication-box .theme-form .form-group .col-form-label{
    color:#313131;
}
.txt-col{
    border: 2px solid red;
}

.forgot-password{
    padding-top: 10px;
   float: right;
   color: #414242;
}
.create_account{
    padding-top: 50px;
}
.btn_txt{
    font-weight: 700;    
}
.btn-block{
    margin: auto;
    width: 98%;
}

.bg_txture{
    background-color: #0288d1 !important;
    height: 5px;
}
.bg_txture2{
    background-color: #0288d1 !important;
    height: 5px;
    padding-top: -50px;
}
.mygrid{
    margin-top: 20px;
}