@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-react-navigations/styles/material.css';


@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import url("../assets/custom-stylesheet/sixstep_style.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.signup-container{
    box-shadow: 0 10px 45px -20px rgba(0, 0, 0, 0.8);
    padding: 0 10px;
    max-width: 450px;
}

.login-container{
    box-shadow: 0 10px 45px -20px rgba(0, 0, 0, 0.8);
    padding: 0 10px;
    max-width: 400px;
}
.grid-chart-container{
  padding: 15px 0px;
  
}

.grid_delete_row{
  margin: 15px 0px;
}

.grid_container_btn{
  margin: 15px 0px;
}

.chart_container_btn{
  margin: 15px 0px;
}

.btn-save-chart{
  margin-right: 20px;
}
.signup-card{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card{
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 3rem;
}

.lbl_design{
  font-size: 14px;
}

.study-container{
  width: 100%; 
  margin: 0 auto;
  padding: 30px 30px;
}

.e-content .e-item {
  font-size: 12px;
  margin: 20px;
  text-align: justify;
}

.save_saveas_btn{  
  padding: 0px 0px 15PX 0PX;
}

.mybtn{
  background-color: #573DAC;;
}

.step-button{
  margin-top: 1.7rem;
}

.pressure-drop{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 0.5rem;
}

.pack-hold{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 1.5rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .study-container{
      padding: 30px 30px;
      height: 1000px;
      overflow-y: scroll;
    }
    .step-button{
      margin-top: 1.7rem;
    }
.cav_bal_add_delete_btn{
  margin-left: 30px ;
}

.hot_run_btns{
  margin-left:85px;
  margin-top: 4px;
}
.hot_run_grid_btns{
  margin-left:30px;
}

.cold_run_grid_btns{
  margin-left:30px;
}

.cooling_time_all_btn{ 
  margin-left:30px;
}

.pack-hold{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 2rem;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait)  {
  .study-container{
    padding: 30px 30px;
    height: 1000px;
    overflow-y: scroll;
  }
  .step-button{
    margin-top: 30px;
  }
  .pack-hold-import-data{
    margin-top: 50px;
  }
  .step-button2{
    margin-top: 0px;
  }
  .pre-step-button2{
    margin-top: 45px;
  }
.cav_bal_add_delete_btn{
margin-left: 30px ;
}

.hot_run_btns{
margin-left:85px;
margin-top: 4px;
}
.hot_run_grid_btns{
margin-left:30px;
}
.cold_run_grid_btns{
margin-left:30px;
}

.cooling_time_all_btn{ 
margin-left:30px;
}

.pack-hold{
display: grid;
grid-template-columns: 300px 300px;
grid-gap: 2rem;
}
  
}

